.menu{
    position: relative;

    svg{
        width: 18px;
    }

    &.menu-horizontal{
        position: relative;
        // justify-content: space-around;

        &>:global(.ant-menu-item){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &>:global(.ant-menu-title-content){
                line-height: 24px;
                margin: 0;
            }
        }
        &>:global(.ant-menu-overflow-item-rest){
            width: 48px;
            padding: 0;

            &>div{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &::after{
                width: 100%;
                left: 0;
            }
        }
    }
}