.layout-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header-bar{
        height: 64px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 24px;
        // box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    }

    .content{
        display: flex;
        flex-grow: 1;
        height: 100%;
        overflow: hidden;

        .side-bar{
            max-width: 200px;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            background: #fff;
            border-right: 1px solid #F3F5F6;
            padding: 10px 0 0;
            transition: all 0.3s;

            .menu{
                position: relative;
                display: flex;
                flex-grow: 1;
                padding: 12px 0 12px;
                overflow-y: auto;
                overflow-x: hidden;

                &::-webkit-scrollbar{
                    display: none;
                }
            }

            .fold{
                position: relative;
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
            }
        }

        .page-content{
            flex-grow: 1;
            width: 100%;
            overflow: auto;

            &>div{
                padding: 24px;
            }
        }
    }

    .footer{
        position: relative;
        height: 64px;
        background-color: #fff;
        display: flex;
        flex-shrink: 0;
    }
}