.header{
    position: relative;
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100%;

    .logo{
        position: relative;

        img{
            width: 228px;
            vertical-align: middle;
        }

        a{
            color: #fff;
            font-weight: bold;
            font-size: 22px;
        }
    }

    .operation{
        position: relative;
        display: flex;
        align-items: center;

        &>div{
            margin-left: 24px;
        }

        .area{
            position: relative;
            color: #fff;
            cursor: pointer;
        }

        .notice{
            position: relative;
        }

        .account{
            position: relative;
            display: flex;
            align-items: center;

            :global .el-dropdown-menu{
                min-width: 140px;
            }

            .avatar{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                color: #fff;
                cursor: pointer;
                overflow: hidden;

                img{
                    width: 100%;
                }
            }
        }
    }
}

.text:hover{
    background-color: unset !important;
    color: unset;
    cursor: text !important;
}
.user-name{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1em;
    padding: 0;
    width: 120px;

    span{
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f0f2f4;
        border-color: #f0f2f4;
        color: #0a7cff;
        border-radius: 50%;
        overflow: hidden;

        img{
            width: 100%;
        }
    }

    div{
        word-break: break-all;
        text-align: center;
        line-height: 14px;
        padding-top: 6px;
    }
}

.menu-item-content{
    display: flex;
    align-items: center;

    svg{
        margin-right: 6px;
    }
}


.dialog{
    :global .ant-modal-body{
        &>.ant-form{
            margin-top: 24px;
        }
    }

    .batch-import{
        min-height: 240px;

        a{
            font-size: 12px;
            margin-left: 12px;
        }
    }
}

.submit{
    text-align: center;

    button{
        margin: 0 24px;
    }
}